body {
    width: 80%;
    margin: 0 auto;

    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: #111111;
    background-color: #E8E2DC;
}

h1 {
    font-size: 4.5em;
    font-weight: 800;
    line-height: 1.0;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
    text-align: justify;
    width: 860px;
}

a {
    color: #111111;
}

a:hover {
    background-color: #BEA1FA;
}

em {
    background-color: #FF8C4B;
}

div {
    display: flex;
}

.item {
    display: flex;
    padding: 20px;
}

.subtext {
    width: 660px;
}

#campos {
    width: 560px;
}

li {
    list-style-type: none;
    display: flex;
    align-items: center;
    height: 35px;
    padding: 0px 50px;
}